// Colors
$prim: #2847e0; 
$sec: #ffa10a;
$warn: #ff382d;
$grayscale__50: #fafafa;
$grayscale__100: #f4f4f5;
$grayscale__200: #e4e4e7;
$grayscale__300: #d4d4d8;
$grayscale__400: #a1a1aa;
$grayscale__500: #71717a;
$grayscale__600: #52525b;
$grayscale__700: #3f3f46;
$grayscale__800: #27272a;
$grayscale__900: #18181b;
$grayscale__950: #09090b;
$grayscale__1000: #010102;

// Typography
$fs-xs: 13.3px;
$fs-xxs: 11.1px;
$fs_base: 16px;

$fs_md: 19.2px;
$fs_xl: 27.6px;
