.filters-overlay {
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  // align-items: center;
  height: calc(100vh); // Adjust based on your header height
  color: white;
  background-color: $grayscale__950;
  border-left: 2px solid $grayscale__900;
  right: 0;
  z-index: 2;
  gap: 12px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
}
.slider__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin: 12px 0;

  h3 {
    font-size: $font-size-md; // Set this variable according to your typography settings
    color: $grayscale__400; // Use a variable for the color
    margin-bottom: 16px; // Space below the header
  }

  .slider {
    width: 100%; // Full width for sliders
    margin-bottom: 20px; // Space between sliders

    .slider-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px; // Space between header and slider
      width: 100%; // Make it full width

      label {
        font-size: $font-size-2xs; // Adjust according to your typography settings
        color: $grayscale__400; // Use a variable for the color
      }

      p {
        font-size: $font-size-2xs; // Adjust according to your typography settings
        color: $grayscale__300; // Use a variable for the color
      }
    }

    input[type="range"] {
      appearance: none; // Remove default styling in WebKit browsers
      width: 100%; // Full width
      height: 6px; // Track height
      border-radius: 5px; // Rounded track
      background: $grayscale__700; // Track color
      outline: none; // Remove outline on focus
      transition: background 0.3s; // Smooth transition for hover

      &:hover {
        background: $grayscale__600; // Darker color on hover
      }

      // WebKit thumb styles
      &::-webkit-slider-thumb {
        -webkit-appearance: none; // Remove default thumb
        appearance: none; // Remove default thumb
        width: 14px; // Thumb width
        height: 14px; // Thumb height
        border-radius: 50%; // Round thumb
        background: $blue; // Thumb color
        cursor: pointer; // Pointer on hover
        transition: background 0.3s; // Smooth transition for hover
        outline: 2px solid $grayscale__400;
        outline-offset: -1px;

        &:hover {
          background: lighten($blue, 10%); // Lighten thumb on hover
        }
      }

      // Firefox thumb styles
      &::-moz-range-thumb {
        width: 16px; // Thumb width
        height: 16px; // Thumb height
        border-radius: 50%; // Round thumb
        background: $blue; // Thumb color
        cursor: pointer; // Pointer on hover
        transition: background 0.3s; // Smooth transition for hover

        &:hover {
          background: lighten($blue, 10%); // Lighten thumb on hover
        }
      }

      // Internet Explorer thumb styles
      &::-ms-thumb {
        width: 16px; // Thumb width
        height: 16px; // Thumb height
        border-radius: 50%; // Round thumb
        background: $blue; // Thumb color
        cursor: pointer; // Pointer on hover
        transition: background 0.3s; // Smooth transition for hover

        &:hover {
          background:$blue; // Lighten thumb on hover
        }
      }
    }
  }
}