@use "../../styles/variables" as *;

.filelistPanel {
  min-height: 29vh;
  overflow-y: auto; // Prevent height growth beyond max-height
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Changed 'start' to 'flex-start'
  background-color: $grayscale__950;
  padding: 24px;
  color: $grayscale__300;
  width: 100%;
  gap: 24px;
  
  button {
    font-size: $fs-xs;
    text-align: left;
    color: $grayscale__500;

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      // Changed to :first-child for clarity
      width: auto;
      font-size: $fs_xxs;
    }
  }

  // Custom scrollbar styling
  &::-webkit-scrollbar {
    width: 8px; // Width of the scrollbar
  }

  &::-webkit-scrollbar-track {
    background: $grayscale__900; // Track color
  }

  &::-webkit-scrollbar-thumb {
    background: $grayscale__500; // Thumb color
    border-radius: 8px; // Rounded edges
    transition: background 0.3s ease; // Smooth transition for hover effect
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $sec; // Change thumb color on hover
  }

  // Medium Devices
  @media (min-width: 768px) {
    height: 100vh;
    width: 50%;

    .clearStorageButton {
      font-size: $fs-base;
    }
  }

  // Extra Large Devices
  @media (min-width: 1200px) {
    width: 35%;
  }
}

.filelistItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0; // Remove default margins
  padding: 24px; // Consolidated padding
  border-radius: 8px;

  &:nth-child(1) {
    border-radius: 6px;
    color: $grayscale__400;
  }

  &:hover {
    background-color: $grayscale__1000; // Change background on li hover
  }
}

.fiellistActions {
  display: flex;
  gap: 24px;
}

.downloadButton {
  &:hover {
    color: $sec; // Change icon color on hover
  }
}

.removeButton {
  &:hover {
    color: $warn; // Change icon color on hover
  }
}
