@use "../../styles/variables" as *;

.filterPanel {
  display: flex;
  flex-direction: column;
  background-color: $grayscale__950;
  height: 100vh;
  color: $grayscale__100;
  width: 40%;
  label {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input[type="range"] {
      width: 100%;
      margin-left: 10px;
    }

    input[type="number"] {
      width: 50px;
      margin-left: 10px;
    }
  }
}
