@use "../../styles/variables" as *;

.filterPanel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: $grayscale__950;
  color: $grayscale__400;
  padding: 24px;
  gap: 36px;

  // Full height panel for desktop
  height: 100%;
  overflow-y: auto;
  width: 100%;

  @media (min-width: 1200px) { // Desktop and larger screens
    width: 35%;
  }

  @media (max-width: 768px) { // Mobile and tablet screens
    max-height: 50vh;
    min-height: 50vh; // Restrict the height on smaller screens
    width: 100%; // Ensure full-width on mobile
  }

  // Custom scrollbar styling
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $grayscale__900;
  }

  &::-webkit-scrollbar-thumb {
    background: $grayscale__500;
    border-radius: 8px;
    transition: background 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $sec;
  }

  label {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;

    input[type="range"] {
      width: 100%;
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
      height: 6px;
      background-color: $grayscale__700;
      border-radius: 5px;
      outline: none;
      transition: background 0.3s ease;

      &:hover {
        background-color: $grayscale__600;
      }

      // Custom thumb styling for WebKit browsers
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: $grayscale__400;
        border: 2px solid rgba($grayscale__950, 0.75);
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background-color: darken($prim, 10%);
        }
      }
    }

    input[type="number"] {
      width: 50px;
      margin-left: 10px;
    }
  }
}

.filterHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  :nth-child(1) {
    font-size: $fs-xs;
    text-align: center;
    border: 1px solid $grayscale__500;
    width: 44px;
  }
}
