@use "../../styles/variables" as *;

.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $grayscale__900;
}

.zoomControls {
  position: fixed;
  top: 5%;
  display: flex;
  gap: 8px;
  padding: 10px;
  background-color: $grayscale__950;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  button {
    outline: 1px solid $grayscale__700;
    outline-offset: -1px;
    display: flex;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: $grayscale__900;
    color: $grayscale__500;
    transition:
      background-color 0.2s,
      color 0.2s,
      transform 0.3s;

    &:hover {
      background-color: $grayscale__1000;
      color: $grayscale__300;
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

canvas {
  border: 1px dashed $grayscale__700;
  border-width: 1px 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .zoomControls {
    top: -5%;
    position: relative;
    transform: translateY(-100%);
  }
}
