@use "./styles//variables" as *;

#root {
  margin: 0;
  width: 100%;
}
.app {
  display: flex;
  height: 100vh;
  background-color: $grayscale__950;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: $fs_xl;
}
p {
  font-size: $fs_base;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}
