.app {
  width: 100vw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.app__header {
  display: flex;
  flex-direction: column;
  gap: 6px;

  h1 {
    font-size: $font-size-md;
  }
  
  p {
    font-size: $font-size-xs;
  }
}

button {
  display: flex;
  border: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  background-color: $grayscale__900;
  color: $grayscale__400;
  &:hover {
    background-color: $grayscale__800;
    cursor: pointer;
  }

  &:active {
    outline: 2px solid $blue;
    outline-offset: -2px;
  }
}

@media (max-width: 768px) {
  
}